 
version: 2.1 # Use v2.1 to enable orb usage.

# The Windows orb gives you everything you
# need to start using the Windows executor.
orbs:
  win: circleci/windows@2.2.0

jobs:
  hello: # name of your job
    executor: win/default # executor type

    steps:
      # Commands are run in a Windows
      # virtual machine environment
      - checkout
      - run: Write-Host 'Hello, Windows'
  
  nukeeper:
    executor: win/default
    steps:
      - checkout
      - run:
          name: Install nukeeper and create logfile directory
          command: |
            dotnet tool install nukeeper --global
            mkdir -p ~/logs/
      - attach_workspace:
          at: ~/
      - run:
          name: nukeeper inspect 
            # 1. nukeeper inspects the .csproj or .sln file in this current direcory and write the output to a file
            # 2. reading the content of the logfile
            # 3. checking if the logfile specify any possible package(s) that needs update, then returning error if there is possible update, and no error if no update
          command: | 
            $splitfile = Get-Content 'ignore.txt' | ForEach-Object {($_ -split '\r?\n') }
            echo $splitfile
            $excludePackages = [String]::Join('^|', $splitfile)
            echo $excludePackages
            nukeeper inspect --exclude $excludePackages > ~/logs/nukeeper.txt
            Get-Content ~/logs/nukeeper.txt
            $SEL = select-string -path "~/logs/nukeeper.txt" -pattern "^0 possible"
            if ($SEL -ne $null)
            {
                echo "Packages are UPTODATE"
                exit 0
            }
            else
            {
                echo "Packages are NOT UPTODATE"
                exit 1
            }

workflows:
  default:
    jobs:
      - hello
      - nukeeper:
          requires: [hello]