 
version: 2.1 # Use v2.1 to enable orb usage.

# The Windows orb gives you everything you
# need to start using the Windows executor.
orbs:
  win: circleci/windows@2.2.0

jobs:
  hello: # name of your job
    executor: win/default # executor type

    steps:
      # Commands are run in a Windows
      # virtual machine environment
      - checkout
      - run: Write-Host 'Hello, Windows'
  
  nukeeper:
    executor: win/default
    steps:
      - checkout
      - run:
          name: Install nukeeper 
          command: |
            dotnet tool install nukeeper --global
            nukeeper inspect >> nukeeper.txt
            echo nukeeper.txt       

workflows:
  default:
    jobs:
      - hello
      - nukeeper:
          requires: [hello]